.product{
    display: block;
    border: 2px solid black;
    flex-basis: 250px; /*2%;*/
    margin: 1.5%;
    padding: 1%;
    height: 200px;
}

.product label.productCheckbox {
    display: block;
    background-color: red;
    height: 20px;
    width: 20px;
    margin: 0px;
    padding: 0px;
    opacity: 1;
}

input[type="checkbox"].checkbox{
    border: 1px solid black;
    width: 20px;
    height: 20px;
    opacity: 1;
}

input[type="checkbox"].delete-checkbox{
    border: 1px solid black;
    width: 20px;
    height: 20px;
    opacity: 1;
}

.productCard{
    margin-top: 10%;
}
.productCard li{
    width: 100%;
    text-align: center;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
