#root {
    outline: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
}

.rootApp {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2.5% 5%;
    height: 100%;
}

.wrap {
    min-height: 550px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li {
    padding: 0px;
    margin: 0px;
}

h3 {
    margin: 0;
    padding: 0;
}

nav {
    background-color: unset;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: auto;
    line-height: 56px;
}