@import 'default.css';
@import './components/typesSelector/typesSelector.css';
@import './components/footer/footer.css';
@import './components/product/product.css';
@import './components/dvd/dvd.css';
@import './components/book/book.css';
@import './components/furniture/furniture.css';
@import './views/ProductsPage/Products.css';
@import './views/ProductAdd/ProductAdd.css';


.top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 


.topControls {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.topControls button{
    box-shadow: 2px 2px 2px 1px black;
    border: 2px solid black;
}

.topControls a,button{
    height: 25px;
}

.topControls button:hover {
    background-color: aquamarine;    
}

.topControls button:focus  {
    background-color: initial;
}

.warning {
    color: red;
}
